<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
  </appSettings>
	<entityFramework codeConfigurationType="MySql.Data.EntityFramework.MySqlEFConfiguration, MySql.Data.EntityFramework">
		<providers>
			<provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.EntityFramework" />
		</providers>
	</entityFramework>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
